html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}

/*
 * Wrappers used on all 'pages'
 */

.page-input-wrapper,
.page-output-wrapper {}

.bg-dark {
  background-color: #717171;
}

/*
 * Fiddle containers
 */

.fiddle-linear-layout {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-evenly;
}

.fiddle-linear-layout fiddle-transform-box {
  flex: 2 1 auto;
  margin: 2em;
}

.fiddle-flex-spacer {
  flex-grow: 1;
}

.fiddle-flex-end {
  align-items: flex-end;
}