.app-toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.app-nav-link {
  margin: 0 2em;
}

.app-content {
  padding: 3em 2em 0 3em;
}
