.app-container {
  display: flex;
  flex-direction: column;
}

.app-logo img {
  height: 64px;
}

.app-toolbar {
  padding: 0 1em;

  flex: 1 1 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  font-weight: 600;
}

.app-content {
  flex: 2 2 75%;
}

.app-nav-link {
  margin-right: 16px;
}
