<ng-container *ngIf="transform$ | async; let tr">
    <mat-card class="mat-elevation-z3 fiddle-transform-box">
        <mat-card-header>
            <mat-card-title>
                {{ tr?.name }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ tr?.in?.name }} -> {{ tr?.out?.name }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngFor="let param of tr.params | keyvalue;">
                <ng-container [ngSwitch]="param.value.type">
                    <mat-form-field *ngSwitchCase="'text'" class="fiddle-box-param-field">
                        <mat-label>{{ param.value.prompt }}</mat-label>
                        <input matInput [(ngModel)]="param.value.value" (keyup)="parameterChanged()" />
                    </mat-form-field>
                    <fiddle-code-display *ngSwitchCase="'out'" [code]="param.value.value$ | async" [language]="'js'">
                    </fiddle-code-display>
                    <mat-form-field *ngSwitchCase="'select'" class="fiddle-box-param-field">
                        <mat-label>{{ param.value.prompt }}</mat-label>
                        <mat-select [(ngModel)]="param.value.value" (selectionChange)="parameterChanged()">
                            <mat-option *ngFor="let data of param.value.opts.values" [value]="data.value">
                                {{ data.display }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </ng-container>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>
</ng-container>