<ng-container *ngIf="transform$ | async; let tr">
    <mat-card *ngIf="shouldShowCard" class="mat-elevation-z3 fiddle-transform-box">
        <mat-card-header>
            <div mat-card-title>
                {{ titleOverride ? titleOverride : tr?.name }}
            </div>
            <div class="fiddle-flex-spacer">
            </div>
            <div *ngIf="tr.getErrorStream() | async; let error">
                <button class="fiddle-error-viewer-trigger" (click)="openErrorViewer(error)" mat-icon-button
                    color="warn" aria-label="View Error">
                    <mat-icon>report_problem</mat-icon>
                </button>
            </div>
            <mat-card-title class="fiddle-card-title">
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <ng-container *ngFor="let param of tr.params | keyvalue;">
                    <ng-container [ngSwitch]="param.value.type">
                        <mat-form-field *ngSwitchCase="'text'" class="fiddle-box-param-field">
                            <mat-label>{{ param.value.prompt }}</mat-label>
                            <input matInput [(ngModel)]="param.value.value" (keyup)="parameterChanged()" />
                        </mat-form-field>
                        <fiddle-code-display *ngSwitchCase="'out'" [code]="param.value.value$ | async"
                            [language]="'js'">
                        </fiddle-code-display>
                        <mat-form-field *ngSwitchCase="'select'" class="fiddle-box-param-field">
                            <mat-label>{{ param.value.prompt }}</mat-label>
                            <mat-select [(ngModel)]="param.value.value" (selectionChange)="parameterChanged()">
                                <mat-option *ngFor="let data of param.value.opts.values" [value]="data.value">
                                    {{ data.display }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </div>
            <div>
                <ng-container *ngIf="tr.outputs.length > 0">
                    <mat-tab-group>
                        <ng-container *ngFor="let output of tr.outputs">
                            <mat-tab *ngIf="output !== 'default'" [label]="output">
                                <pre>{{ (tr.getOutputStream(output) | async)?.value }}</pre>
                            </mat-tab>
                        </ng-container>
                    </mat-tab-group>
                </ng-container>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</ng-container>